.img1 img{
	margin-right: auto;
	margin-left: auto;
	height: auto;
	display: block;
	max-width:100%;
}
.bigtitle {
	font-family: "Comic Sans MS", cursive;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}
.para {
	font-family: "Comic Sans MS", cursive;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	color: #666;
}
